@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Over+the+Rainbow&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {

    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 243, 243);
    height: 100vh;
    width: 100%;

}

main {
    width: 80%;
    height: fit-content;
    padding: 4px;
    margin: auto;
    background-color: white;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* margin: 80px; */
    width: 80%;
    height: 50px;
    top: 0;
    margin-top: 0px;
    background-color: #fff;
    border: 1px solid transparent;
    /* position: fixed; */

}


.myimage {
    width: 150px;
    /* height: 100px; */
    padding: 10px 5%;


}

.header {
    display: flex;
    justify-content: end;
    align-items: center;


}

.projects {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    padding: 10px 30px;
    margin: 40px;
    /* justify-content: right; */
    align-items: center;
}

.projects a {
    text-decoration: none solid;
    padding: 10px 10px;
    color: black;
    font-family: sans-serif;
    font-size: 14px;

}

.dropdown {
    position: relative;
}

.dropdown1 {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    flex-direction: column;
    left: -100;
    text-align: left;
    padding: 10px 10px;
    margin: 0 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #fff;
    flex-direction: column;
    left: 100;
    text-align: left;
    padding: 10px 10px;
    margin: 0 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a:hover {
    color: rgb(234, 86, 32);
}

.dropdown-content1 a:hover {
    color: rgb(234, 86, 32);
}




.dropbtn {
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;

}

.dropbtn1 {
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;

}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown1:hover .dropdown-content1 {
    display: flex;
    flex-direction: column;
}






.mysection {
    /* background-image: url(.//bg-stripes.png); */
    background-color: white;
    /* padding: 15px 10px; */
    /* margin: 80px; */
    /* margin-top: 0; */
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    /* height: 800px; */
    /* justify-content: end; */
}

h1 {
    text-align: center;
    font-size: 45px;
    align-items: center;
    padding: 10px 10px;
    margin-top: 40px;
    font-family: "Poppins", sans-serif;

}

.longsentence {
    padding: 10px 10%;
    text-align: center;
    font-size: 14px;
    align-items: center;
    margin: 0px 0px 16px;
    line-height: 20px;
    /* font-weight: 400; */
    width: 800px;
    font-family: "Poppins", sans-serif;

}

.mysub {
    width: 45%;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    margin: 10px;
   

}

.Gardens {
    width: 100%;
    height: 400px;
    border-radius: 15px 15px 0 0;
}

.sub-div {

    width: 100%;
    /* height:fit-content; */
    border-radius: 0 0 15px 15px;
    /* border-radius: 15px; */
    /* vertical-align: middle; */


}

.blankimage {
    background-color: rgb(245, 245, 245);
    width: 45%;
    height: 788px;
    border-radius: 15px;

}

.letter1 {
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
    line-height: 33px;
    vertical-align: baseline;
    margin-top: 20px;
    padding: 10px;

}

.letter2 {
    color: white;
    background-color: rgb(234, 91, 12);
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    width: 250px;
    /* height: 25px; */
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    padding: 15px;
}

.Imagess {
    display: flex;
    padding: 10px;
    margin: 20px;
    margin-top: 0;
    gap: 20px;
}

.Imagess img {
    width: 50px;
    height: 50px;
}

.Imagess h5 {
    text-align: center;
}

.overflow {
    display: flex;
    width: 450px;
    flex-direction: row;
    overflow: auto;
    gap: 25px;
    border-radius: 12px;
    margin-top: 30px;

}

.overflow::-webkit-scrollbar {
    display: none;
}

.flow {
    border-radius: 15px;
    width: 130px;
    gap: 25px;
    cursor: pointer;
}

.link {
    vertical-align: baseline;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    margin: 0;
    font-family: sans-serif;

}

.link a {
    text-decoration: none;
    background-color: rgb(239, 95, 0);
    color: white;
    border-radius: 15px;
    padding: 12px 24px;
    border: 0px solid;
}

.last {
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: fixed;
    /* top: 0; */
    border-radius: 10px;
    right: 5%;
    bottom: 10px;
    font-size: 14px;
}

.fa-brands {
    padding: 0px 10px 10px 0px;

}